/* Navigation bar css overrides in mobile view */
@media not all and (min-width: 992px) {
  .ant-layout-sider {
    position: fixed;
    z-index: 100;
    min-height: 100vh;
  }
}

/* Override antd css */

.site-layout-sub-header-background {
  background: #fff;
  height: 75px;
}

.site-layout .site-layout-background {
  background: #eff2f5;
}

.ant-layout-sider-children {
  background: #fff;
}

.ant-menu > .ant-menu-item:hover,
.ant-menu > .ant-menu-item-active,
.ant-menu > .ant-menu-item-open,
.ant-menu > .ant-menu-item-selected {
  color: #ef4941;
  background: #fff;
}

.ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected {
  background-color: #fff;
}

.ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected {
  background-color: white;
}

.ant-menu-inline .ant-menu-item::after {
  border-right: none;
  border-left: 3px solid #ef4941;
}

.ant-layout-sider-zero-width-trigger.ant-layout-sider-zero-width-trigger-left {
  margin-top: -45px;
}

.ant-spin-dot-item {
  background-color: #ef4941;
}
